.App {
  text-align: center;
  margin: 5%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-area-container{
  display: flex;
  flex-direction: row;
  background: lightblue;
}

.messages-container{
  display: flex;
flex-direction: column;
}

.container{

}
.button{
  padding: 1%;
  width: 9%;
}
.dropdown{
  width: fit-content;
  padding-left: 1%;
  padding-top: 0.2%;
  /*padding: 5px 0px 15px 5px;*/
  /*display: flex;*/
  /*justify-content: center;*/
}
.form{
  padding: 1%;
  width: 74%;
}
.textarea{
  resize: none;
}

.test{
  /*max-height: 800px;*/
  /*overflow: scroll;*/
}
